img{
  max-width: 300px;
  max-height:300px;
  border:5px solid green;
  border-radius:25%;
  margin-top: 50px;
}
body{
  text-align:center;
  font-family: 'Montserrat',sans-serif;
  color:white;
}
h1{
  font-size: 50px;
  font-family: 'Jacques Francois Shadow', cursive;
  padding: 10px;
  color:rgba(20, 110, 227);
}
header{
  background: url("https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size:cover;
  background-position: center;
}
.aboutme{
  color:black;
  max-width:500px;
  margin:0 auto;
  border:1px solid white;
  padding:50px;
  text-align:justify;
  margin-bottom: 100px;
  background: rgba(255, 255, 255);
  line-height: 30px;
}
li{
  display:inline;
  padding:10px;
}
ul{
  border:0px;
  padding:20px;
  background:linear-gradient(bottom, rgba(0,0,0,1),rgba(0,0,0,-4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1),rgba(0,0,0,-4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1),rgba(0,0,0,-4));
}
a{
  color:white;
}
.contacts{
  border:1px solid black;
  max-width:500px;
  margin:0 auto;
  margin-bottom: 100px;
  background: rgb(40, 62, 102);
  padding:50px;
  text-align: justify;
}
span{
  color:skyblue;
}
.view{
  opacity:1;
}
.show{
  opacity:0;
}
.show-description{
  opacity:1;
}
